<h2>Set New Goal</h2>

<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <label>
    Title
    <input type="text" name="goal[title]" value="">
  </label><br>

  <label>
    Description
    <input type="text" name="goal[description]" value="">
  </label><br>

  <label>
    Status
    <select class="" name="goal[status]">
      <option disabled selected>Select Status</option>
      <% Goal::STATI.each do |status| %>
        <option value="<%= status %>"><%= status %></option>
      <% end %>
    </select>
  </label><br>

  <label>
    Privacy Setting <br>
    <% Goal::SETTINGS.each do |setting| %>
      <input type="radio" name="goal[privacy_setting]" value="<%= setting %>"><%= setting %><br>
    <% end %>
  </label><br>

  <input type="submit" name="" value="Submit New Goal">
</form>
